wp-config-sample.php
wp-config.php
/wp-admin
/nbproject
/wp-includes
/wp-content/upgrade
/wp-content/uploads
/wp-content/plugins
/wp-content/languages
/wp-content/themes/twentyfifteen
/wp-content/themes/twentyfourteen
/wp-content/themes/twentythirteen
licens.html
licenza.html
liesmich.html
lisenssi.html
readme.html
LEGGIMI.txt
licencia.txt
licens-sv_SE.txt
license.txt