.content-buy{
    width: 1024px;
    margin: 0 auto;
}

.cat-name{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 8px;
    border-bottom: solid 1px #000000;
    margin-bottom: 16px;
    margin-top: 32px;
}

.item-buy, .items-buy{
    display: inline-block;
    width: 244px;
    height: 322px;
    position: relative;
    padding-top: 14px;
    transition: 0.3s;
    cursor: pointer;
}

.item-buy:hover, .items-buy:hover{
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.item-buy img, .items-buy img{
    margin: 0 auto;
    display: block;
    max-width: 140px;
}

.sizes{
    padding: 4px 0;
    width: 244px;
    text-align: center;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    background-color: #343434;
    color: #ffffff;
    position: absolute;
    bottom: 78px;
}

.mini-info{
    padding: 16px 0 0 16px;
    position: absolute;
    bottom: 16px;
}

.buy-name{
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 16px;
    color: #e4911c;
    margin-bottom: 8px;
}

.buy-price{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    color: #000000;
}

.buy-price span{
    font-weight: bold;
}

.item-buy{
    margin-right: 11px;
}

.item-buy:nth-child(4n){
    margin-right: 0 !important;
}

.item-buy:nth-child(n+5){
    margin-top: 16px;
}

.buy-open{
    display: none;
}

#modalOverlay {
    background-color:#000;  /* ��� �������� ���� ���������� */
    cursor:wait;  /* ������ ��� ��������� �� ����������� ������� */
    filter: alpha(opacity=50); /* ������������� ���������� */
    height: 100%;
}

#modalContainer {
    height:500px;   /* ��� ������������ �� ������ */
    width:742px;
    left:50%;  /*� ���� � margin-left, ������� ����� ����� �������� ������ �������� �� �����������*/
    top:10%;   /*�������� �� ���������, ������ � margin-top, ���� ������ ������*/
    margin-left:-371px;
    /* margin-top: -70px; */
    background-color:#fff;
}
a.modalCloseImg {
    background:url("./img/button-close-normal.png") no-repeat 0 0;
    width:32px;  /* ��������� ���������� �� ���, ��� � �������. ��� ������� ��� ������� */
    height:32px;
    display:inline;
    z-index:3200;
    position:absolute;
    top:-40px;
    right:0;
    cursor:pointer;
}

.big-buy-open{
    width: 50%;
    float: left;
    background: #ffffff;
    position: relative;
}

.buy-open-descr{
    width: 50%;
    float: left;
    background: #f0f0f0;
    padding: 24px 0;
    min-height: 500px;
}

.overflowed{
    overflow: auto;
    height: 500px;
}

#big-buy{
    width: 350px;
    max-height: 500px;
    margin: 0 auto;
    display: block;
}

.buy-title{
    text-transform: uppercase;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 16px;
    color: #e4911c;
    margin-left: 24px;
}

.buy-descr{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    color: #000000;
    margin-left: 24px;
    margin-top: 16px;
    padding-right: 24px;
}

.buy-open-descr table{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    color: #000000;
    width: 100%;
    margin-top: 8px;
}

.buy-open-descr .thed{
    font-weight: bold;
}

.buy-open-descr table input{
    border: none;
    outline: none;
    width: 48px;
    height: 36px;
    text-align: center;
    vertical-align: top;
}


.minus-small, .minus-medium, .minus-large, .minus-extra{
    width: 16px;
    height: 36px;
    display: inline-block;
    vertical-align: top;
    background: url("./img/minus-sprite.jpg") no-repeat 0 0;
    cursor: pointer;
}

.minus-small:hover, .minus-medium:hover, .minus-large:hover, .minus-extra:hover{
    background-position: -16px 0;
}

.minus-small:active, .minus-medium:active, .minus-large:active, .minus-extra:active{
    background-position: -32px 0;
}

.plus-small, .plus-medium, .plus-large, .plus-extra{
    width: 16px;
    height: 36px;
    display: inline-block;
    vertical-align: top;
    background: url("./img/plus-sprite.jpg") no-repeat 0 0;
    cursor: pointer;
}

.plus-small:hover, .plus-medium:hover, .plus-large:hover, .plus-extra:hover{
    background-position: -16px 0;
}

.plus-small:active, .plus-medium:active, .plus-large:active, .plus-extra:active{
    background-position: -32px 0;
}

.buy-open-descr td{
    padding-top: 8px;
    width: 33%;
}

.center-line{
    text-align: center;
}

.left-line{
    padding-left: 24px;
    width: 26%;
}

.total{
    font-size: 16px;
    font-family: "Montserrat";
    color: #000000;
    padding-left: 24px;
    margin-top: 40px;
    float: left;
}

.add-to-cart{
    font-size: 16px;
    color: #231f20;
    background: #fee930;
    padding: 7px 27px;
    font-weight: 700;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    float: right;
    cursor: pointer;
    margin-top: 32px;
    margin-right: 24px;
}

.add-to-cart:hover{
    background: #d48c33;
    transition: 0.3s;
    -webkit-transition: 0.3s;
}

.miniatures{
    height: 66px;
    position: absolute;
    width: 100%;
    top: 400px;
}

.mini-img{
    width: 66px;
    height: 66px;
    border: solid 5px #000000;
    float: left;
    margin-right: -5px;
    cursor: pointer;
}

.mini-img.active{
    border-color: #e4911c;
    position: relative;
    z-index: 2;
}

.mini-img img{
    height: 56px;
    width: auto;
    max-width: 56px;
    display: block;
    margin: 0 auto;
}
.item .img img {
    width: 50px;
    height: 50px;
}